@tailwind base;
@tailwind components;
@tailwind utilities;
 body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7fafc;
 }
.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 75vh;
}
.bannerdiv {
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.730), rgba(0, 0, 0, 0.730), rgba(0, 0, 0, 0.500), transparent);
}
.cartafter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-width: 3rem;
  z-index: 1;
  /* border-color: #820A0A #820A0A transparent transparent; */
  border-color: transparent transparent #B90404 #B90404;
  border-style: solid;
}